---
layout: page
title: About
---

{% if page.url == "/" %}

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>About</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

An adaptable and self-motivated Manager with an ambition to succeed. Someone who thrives on building positive relationships with a team through excellent 
verbal and written communication skills. Keen to exhibit the analytical thinking and strategic skills required in a leadership and target driven role.
<br>

Currently developing established skills and experience working towards a bachelors degree in Information Technology, majoring in Information Systems.
<br>

<h5>Personal Skills</h5>

<b>Leadership & Conflict Resolution</b> <br>
- Building a team of 8, taking responsibility for setting and monitoring the quality control standards.<br>
- Bringing teams together under a company merger situation, valuing their input and ideas.<br>
<br>
<b>Time Management & Strategic Planning</b> <br>
- Delivering monthly financial and operational reports to senior stakeholders. Completing bank reconciliations, VAT returns and payroll processing.<br>
- Creating strategic business reviews to support mainstream bank funding up to £5M for asset acquisition.<br>
<br>
<b>Communication & Teamwork</b> <br>
- Actively listen to customers with different circumstances and requirement.<br>
- Remaining calm, appreciate the view of the customer and keeping the conversation on topic to bring about resolution.<br>
<br>
<b>Analytical & Research Skills</b> <br>
- Assessing 3 years financial and operational data including KPI’s, identify cost savings and staffing requirements, research competitors and market trends.<br>
- Working with numerous mapping and data archive programs to extract information dating back to the 1950’s.<br>
<br>
<b>Adaptability & Working Under Pressure</b><br>
- Managing up to 45 business clients, building relationships with clients and agents under difficult circumstances.<br>
- Forming a three-person team to bring into effect departmental digital change in anticipation of the large-scale restructure.<br>
<br>
<b>Self-Motivation & Creativity</b> <br>
- Taking the initiative to instigate procedural change. During this process showing empathy to those whom the change affected, and gaining the support of the IT team.<br>
- Creating and selling a successful baby clothing business with my partner, self taught Adobe Illustrator & Photoshop. <br>
<br>

<!-- Posts Index
================================================== -->
<!-- <section class="recent-posts">

    <div class="section-title">

        <h2><span>All Stories</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section> -->

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

